### **Statistical Intuitions and Applications**

# **Assignment #1**

## library importation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import scipy.stats as stats

**Task 1.**

*   As mentioned above, you will select a random sample of 100 individuals from the comapny's data set.
*   You will then conduct analyzes on this random sample.
*   Look at the code below. To select a random sample from the data, you should replace **Name** with your own name in the code.
*   After you have done so run the code. The code will generate a csv file with a random sample of 100 participants. It will also be labeled with your name.
*   REMEMBER: you need to add this csv file to a zip file along with your .ipynb. file when submitting your assignment.

# data imporation

In [2]:


try:
    df = pd.read_csv('eman alkhyeli.csv')        
except FileNotFoundError:
    original_data = pd.read_csv("https://raw.githubusercontent.com/ZUCourses/SIA-Public/main/Data%20Sets/body_measurement.csv")
    df1 = original_data.sample(100)
    df1.to_csv('eman alkhyeli.csv')                   
    df = pd.read_csv('eman alkhyeli.csv')             
    df = pd.DataFrame(df)
    df.to_csv('eman alkhyeli.csv')                    

df.head()

,Unnamed: 0.1,Unnamed: 0,bia_di,bii_di,bit_di,che_de,che_di,elb_di,wri_di,kne_di,...,bic_gi,for_gi,kne_gi,cal_gi,ank_gi,wri_gi,age,wgt,hgt,sex
0,485,235,40.1,26.4,32.0,21.8,30.2,15.8,12.4,20.7,...,38.5,30.1,37.2,36.8,23.4,19.6,33,85.9,188.0,1
1,23,493,38.5,25.6,31.7,17.0,25.6,11.8,10.2,16.8,...,28.1,23.1,34.4,32.7,20.9,15.2,19,60.0,156.2,0
2,435,6,43.3,27.0,31.5,19.6,31.3,14.0,11.5,18.8,...,33.0,28.0,36.6,36.1,23.5,16.9,21,74.8,181.5,1
3,257,275,39.6,28.6,31.2,18.0,27.2,12.4,10.1,19.3,...,27.4,23.4,37.0,38.4,21.3,15.6,38,67.3,179.9,0
4,502,17,39.9,30.0,34.5,21.0,29.4,15.6,11.9,21.2,...,37.0,28.8,40.9,41.7,24.2,17.8,30,93.8,192.7,1